.navbar {
    background-color: skyblue;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  